@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body{
  background-color: #181818 !important;
  font-family: 'Creepster', cursive !important;
  
}

.modal-content{
  background-color: #181818 !important;
}
.modal-header{
  background-color: #181818;
  color: #c0ff30;
  border: none !important;
}

.modal-body, .modal-footer{
  display: flex;
  justify-content: center !important;
  background-color: #181818;
  border: none !important;
}

.modal-body input{
  background-color: #666;
  color: #181818;
  font-size: 24px;
  margin: 20px;
  border: none;
}

.title{
  color: #c0ff30;
  margin: 1em 0;
  text-align: center;
  font-size: 46px;
}

.main{
  display: flex;
  justify-content: center;
}

.leftSide, .rightSide{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.leftSide div, .rightSide div{
  font-size: 32px;
  padding: 20px;
}

.player1Name, .player2Name, .player1Score, .player2Score{
  color: #ffa830;
}

.player1Mark, .player2Mark{
  color: #a818ff;
  font-size: 150px !important;
}

.gameContainer{
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.square{
  background-color: #666;
  color: #181818;
  margin: 2px;
  /*border: 1px solid;*/
  text-align: center;
  font-size: 150px;
  cursor: pointer;
  line-height: 1;
}

.gameStatus{
  color: #c0ff30;
  text-align: center;
  font-size: 32px;
  padding: 20px;
}

.container{
  display: flex;
  justify-content: center;
}

.startBtn, .startGame{
  background-color: #a818ff;
  font-size: 32px !important;
  transition: 0.2s;
}

.startBtn{
  visibility: hidden;
}

.startBtn:hover, .startGame:hover{
  background-color: #181818;
  color: #a818ff;
  outline: 2px solid #a818ff;
}

.unclickable{
  pointer-events: none;
}